<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TF2Autobot gui{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    {{ load_entry_tags('base', 'css') | safe }}
    {{ load_entry_tags('base', 'js') | safe}}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-left">
    <a class="navbar-brand" href="/home">TF2Autobot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/trades" class="nav-link">Trades</a>
            </li>
            <li class="nav-item">
                <a href="/profit" class="nav-link">Profit</a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/ZeusJunior/tf2-automatic-gui/wiki" target="_blank" class="nav-link">Guide</a>
            </li>
            <li class="nav-item">
                <a href="/config" class="nav-link">Config</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-xl pt-4 pb-4 border-light border border-top-0 rounded-bottom text-white" id="app">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
